.sub01_sec {
    position: relative;
    margin-top: 20rem;
}

.blue_box {
    display: block;
    background-color: rgb(28, 171, 226);
    color: rgb(255, 255, 255);
    height: 200px;
}

.blue_box h2 {
    display: inline-block;
    line-height: 1.56;
    letter-spacing: -0.8px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 700 !important;
    margin-top: 30rem;

}



.blue_box p {
    line-height: 1.6;
    letter-spacing: -1.2px;
    margin-top: 6px;
    font-size: 20px;
    margin-left: 3px;
}


/* tap*/

.help_tap {
    position: relative;
    padding-top: 50rem;
    padding-bottom: 50rem;
}



.tap_menu .tap_on .bottom {
    height: 0;
    overflow: hidden;
}

.tap_menu .tap_on .bottom.on {
    height: auto;
}

.tap_menu .tap_box {
    position: relative;
    text-align: center;
    bottom: 30rem;
    padding-bottom: 25rem;
    cursor: pointer;
}


.tap_menu .tap_box .inner2 {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    margin-top: 30rem;
}

.tap_menu .tap_box .top {
    padding: 0 26px;
    height: 100%;
    display: block;
    padding: 15rem 20rem;
}

.tap_menu .tap_box .top.on {
    border-radius: 50rem;
    background: rgb(28, 171, 226);
    color: #ffffff;

}

.tap_menu .tap_box .inner2 .top {
    font-size: 16px;



}

.tap_on .inner .news_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
}

.tap_on .inner figure {
    position: relative;
    padding: 16px 16px 24px;
    border: 1px solid #dddddd;

    border-radius: 0px 0px 40px;

}

.tap_on .inner figure .txt_box {

    width: 100%;
    border-radius: 0px 0px 40px;
    box-shadow: rgba(0, 0, 0, 0.08) 24px 14px 40px 0px;
    background: rgba(255, 255, 255);
    opacity: 0.8;
    position: absolute;
    padding: 30px 10px;
    right: 0%;
    bottom: 0px;
    z-index: 1;
    margin-top: -88px;
    margin-left: -1px;
    text-align: center;

}

.tap_on .inner figure .txt_box strong {
    letter-spacing: -0.8px;
    font-size: 20px;
    font-weight: 700 !important;

}

.tap_on .inner figure .txt_box p {
    margin-top: 15rem;
}

.tap_on .inner figure img {




    padding: 20rem;


    margin-bottom: 20rem;

}